{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'filtre/style.css' %}" />

<div id="wrap">

{% include 'filtre/header.html' %}

<div id="content">
<div class="left">

    <h2>{{ font.nom }}</h2>

    <div class="articles">
        <p>URL: <a href="{{font.url}}">{{font.url}}</a></p>
        <p>
        Catàlegs: 
        {% for cat in font.cataleg_set.all %}
        {{ cat.nom }}<br/>
        {% endfor %}
        </p>
        <a href="{% url 'filtre:analitza font' font.id %}">Analitza la Font</a>

        {% include 'filtre/error.html' %}

        <h2>Avisos d'aquesta font</h2>
        {% for data, documents in dates %}
            <h3>{{data}}</h3>
            <ul class="avisos">
            {% for document, pages in documents.items %}
                <li>Document: <a target="_blank" href="{{document}}">{{document}}</a>
                <ul>
                {% for page, paraules in pages %}
                    <li>Pàg. {{page}}: 
                    {% for paraula in paraules %}
                        {{paraula}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </li>
                {% endfor %}
                </ul>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>

{% include 'filtre/sidebar.html' %}

{% include 'filtre/footer.html' %}

</div>
</div>
