{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'filtre/style.css' %}" />

<div id="wrap">

{% include 'filtre/header.html' %}

<div id="content">
<div class="left"> 

<h2>{{ avis.coincidencia }}</h2>

<div class="articles">
<p>Url: <a href="{{avis.url}}">Enllaç</a></p>
<p>Font: <a href="{% url 'filtre:detall font' avis.font.id %}">{{ avis.font.nom }}</a></p>
{% if avis.tipus == "Document" %}
<p>Pàgina: {{avis.pagina}}</p>    
{% endif %}

</div>
</div>

{% include 'filtre/sidebar.html' %}

{% include 'filtre/footer.html' %}

</div>
</div>
