{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'filtre/style.css' %}" />

<div id="wrap">

{% include 'filtre/header.html' %}

<div id="content">
<div class="left">


<h2>Not&iacute;cies</h2>
<div class="articles">

{% if avui %}

    <h3>Avu&iacute;</h3>

    <ul>
    {% for nom, dades in avui.items %}
        <li><a href="{% url 'filtre:detall font' dades.font.id %}"><b>{{ nom }}</b> ({{ dades.num }})</a></li>
    {% endfor %}
    </ul>
    
{% endif %}

{% if ahir %}

    <h3>Ahir</h3>

    <ul>
    {% for nom, dades in ahir.items %}
        <li><a href="{% url 'filtre:detall font' dades.font.id %}"><b>{{ nom }}</b> ({{ dades.num }})</a></li>
    {% endfor %}
    </ul>
    
{% endif %}

{% if abans %}

    <h3>Abans</h3>

    <ul>
    {% for nom, dades in abans.items %}
        <li><a href="{% url 'filtre:detall font' dades.font.id %}"><b>{{ nom }}</b> ({{ dades.num }})</a></li>
    {% endfor %}
    </ul>
    
{% endif %}

</div>
</div>

{% include 'filtre/sidebar.html' %}

{% include 'filtre/footer.html' %}

</div>
</div>
