{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'filtre/style.css' %}" />

<div id="wrap">

{% include 'filtre/header.html' %}

<div id="content">
<div class="left">


<h2>Not&iacute;cies</h2>
<div class="articles">
{% if avisos %}
    <ul>
    {% for avis in avisos %}
        <li><a href="{% url 'filtre:detall avis' avis.id %}">{{ avis.font.nom }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hi han avisos!</p>
{% endif %}
</div>
</div>

{% include 'filtre/sidebar.html' %}

{% include 'filtre/footer.html' %}

</div>
</div>
